<!--<% if @activity.any? %>-->
    <!--<table class="table table-hover">-->
      <!--<tr>-->
        <!--<th><%= t :stt %></th>-->
        <!--<th><%= t :action_content %></th>-->
        <!--<th><%= t :at_time %></th>-->
      <!--</tr>-->
      <!--<%= render @activity %>-->
    <!--</table>-->
<!--<% end %>-->

<!--{% if c.activities %}-->
<div style="width:100%;
    height:80%;
    overflow-y:scroll;">
    <table class="table table-hover">
        <tbody id="notification">
        {% for activity in c.activities %}
        <tr>
            <td>
                {{ activity.user.user_info.name }}
                {{ activity.action_type.name.lower() }}
                {% if activity.object_type == c.model.ObjectType.COURSE %}
                    {% set course = c.model.Session.query(c.model.Course).filter_by(id=activity.object_id).first() %}
                    course {{course.code}}
                {% endif %}
            </td>
            <td>
                {{ activity.created_at.strftime('%Y/%m/%d - %H:%M') }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!--{% endif %}-->
