<div class="row">
    <section class="user_info">
        <h1>
            Code: {{c.course.code}}
        </h1>
        <hr>

        <div class="list-group">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-user"></span>
                Name: {{c.course.name}}
            </div>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <span class="glyphicon glyphicon-user"></span>
                Number: {{c.course.number}}
            </div>
        </div>
    </section>
</div>